:root {
  --main-purple: #5a0b4d;
}
@font-face {
  font-family: san-francisco;
  src: url(/fonts/sfprodisplayregular-webfont.woff2),
    url(/fonts/sfprodisplayregular-webfont.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: san-francisco;
}
/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background-color: var(--main-purple);
  color: white;
  padding: 5px;
}
.navbar > p {
  font-size: 150%;
  font-weight: bold;
}
.logo {
  fill: white;
  height: auto;
  width: 8%;
}
/* Main content */
.main-body > * {
  margin-left: 2%;
}
.main-body {
  background-color: #ffffff;
  width: 100%;
  height: 92vh;
  overflow: auto;
}
/* Add section */
.addSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  margin: 0px;
  padding-bottom: 5%;
  height: 35%;
}
.addSection p:nth-child(1) {
  color: #202938;
  font-size: 180%;
  font-weight: bold;
  padding-top: 5%;
}
.addSection p:nth-child(2) {
  color: #6b7380;
  line-height: 1.5;
  margin-left: 2%;
}
.addSection button:nth-child(3) {
  color: white;
  background-color: var(--main-purple);
  width: 60%;
  height: 5vh;
  margin-top: 2vh;
  padding: 1px;
  border-radius: 5px;
  border: none;
  font-size: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addSection button:nth-child(3) svg {
  fill: white;
  width: 8%;
  height: auto;
}
/* Display section */
.header {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.header > p {
  color: #202938;
  font-size: 135%;
  font-weight: bold;
}
#output-div {
  display: grid;
  grid-template-columns: 98%;
}
#output-div > #card {
  border: 1px solid #d1d4db;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  background-color: white;
}
#card > #card-name {
  color: #202938;
  background-color: hsl(249, 100%, 95%);
  width: 100%;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 130%;
  text-align: center;
}

#card > #card-author {
  color: #5a0b4d;
  padding: 3px;
  font-weight: bold;
  align-self: center;
  font-size: 107%;
}
#card > #card-pages {
  color: #202938;
  align-self: center;
}
#card > #read-status {
  color: #d80027;
  align-self: center;
  font-weight: bold;
  font-size: 80%;
}
#card > #actions {
  display: flex;
  justify-content: center;
}
#card > #actions > * {
  margin-top: 3%;
}
#card > #actions > #delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d80027;
  color: white;
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%;
  font-size: 90%;
  width: 50%;
  border-bottom-left-radius: 5px;
}
#card > #actions > #toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a0b4d;
  color: white;
  border: none;
  border-bottom-right-radius: 5px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%;
  font-size: 90%;
  width: 50%;
}
/* Hover Effects */
.addSection button:nth-child(3):hover {
  background-color: hsl(310, 78%, 25%);
}
#card > #actions > #delete-btn:hover {
  background-color: hsl(349, 100%, 47%);
}
#card > #actions > #toggle-button:hover {
  background-color: hsl(310, 78%, 15%);
}
/* Dialog */
#dialog {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  width: 90%;
  position: relative;
  top: 20%;
  bottom: 20%;
  left: 5%;
  right: 5%;
  border-radius: 5px;
  background-color: #f3f4f6;
  border: 1px solid hsl(218, 27%, 70%);
  
}
#dialog > #dialog-header {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
#dialog-header > p {
  color: #202938;
  font-size: 130%;
  font-weight: bold;
}
#dialog > #input-name-div,
#input-author-div,
#input-pages-div,
#input-read-status-div {
  display: flex;
  flex-direction: column;
}
#dialog > input,
label,
select,
.form-input,
#dialog-header-p,
#input-submit,
#close-popup {
  width: 90%;
  margin-left: 5%;
}
#dialog label {
  color: #202938;
  font-weight: bold;
  font-size: 85%;
}
#dialog input {
  padding: 3px;
  border: 1px solid hsl(222, 12%, 69%);
  border-radius: 4px;
  outline: none;
}
#dialog input:focus,
#input-read-status:focus {
  border: 1px solid #5a0b4d;
}
#dialog button:nth-child(1) {
  background-color: #f3f4f6;
  border: none;
  padding: 5px;
  color: #5a0b4d;
}
#input-submit {
  background-color: #5a0b4d;
  color: white;
  border: none;
  padding: 5px;
  margin-top: 5%;
  border-radius: 5px;
  font-weight: bold;
}
#input-read-status {
  outline: none;
  border-radius: 3px;
}
